body, html {
  height: 100%;
  margin: 0;
  font-family: 'LEMONMILK-REGULAR', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #061A40;
  color: #B9D6F2;
}

.centered {
  text-align: center;
}

button, input {
  display: block;
  margin: 10px auto;
}

button {
  background-color: #061A40;
  color: #0353A4;
  border: 2px solid #0353A4;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0353A4;
  color: #061A40;
}

input {
  background-color: #061A40;
  color: #B9D6F2;
  border: 1px solid #0353A4;
  padding: 10px;
  font-size: 16px;
}

.high-scores {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  background-color: #061A40;
  padding: 10px;
  border: 1px solid #0353A4;
  color: #B9D6F2;
  font-size: 14px;
}

.high-scores ul {
  list-style-type: none;
  padding-left: 0;
}

.high-scores li {
  margin: 5px 0;
}

.orbit-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.orbiting-image {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0; /* Initially hidden */
  animation: orbit 5s linear infinite;
  animation-play-state: paused; /* Initially paused */
}

.orbiting-image.show {
  opacity: 1; /* Show when class 'show' is added */
  animation-play-state: running; /* Start animation when class 'show' is added */
}

.orbiting-image:nth-child(1) {
  animation-delay: 0s;
}

.orbiting-image:nth-child(2) {
  animation-delay: 1.66s;
}

.orbiting-image:nth-child(3) {
  animation-delay: 3.33s;
}

@keyframes orbit {
  0% {
      transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  100% {
      transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}